@using MoviePro.Models.Database
@using MoviePro.Services.Interfaces

@inject IImageService _imageService
@inject IRemoteMovieService _tmdbMovieService;

@model List<Movie>

@{
    ViewData["Title"] = "Import";
}


<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="library-titles text-center">Discover & Import Movies</h2>
        <p class="text-center mt-3">Powered by Bloodhound's typeahead feature & TMDB API</p>
    </div>
    <div class="col-12">
        <hr class="hr-blue" />
    </div>
    <div class="col-10 col-md-8 col-lg-6">
        <form asp-action="Import">
            <div class="input-group justify-content-center" id="movieSearch">
                <input type="hidden" id="movie-id" name="id" value="0" />
                <input type="text" class="form-control custom-search text-search typeahead" placeholder="Search TMDB for a movie">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Import</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <hr class="hr-blue" />  
    </div>
    <div class="row">
        <div class="col">
            <h2 class="library-titles">IMPORTED MOVIES</h2>
        </div>
    </div>
    <div class="row px-4 justify-content-center">
        @foreach (var movie in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card bg-transparent" style="max-width: 15.5rem;">
                    <img src="@_imageService.DecodeImage(movie.Poster, movie.PosterType)" class="card-img-top" alt="Movie Poster">
                    <div class="card-body">
                    <h5 class="card-title clampTitle text-light">@movie.Title</h5>
                    <p class="card-text clampOverview">@movie.Overview</p>
                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.MovieId" asp-route-local="true" class="btn btn-sm btn-block btn-primary fw-bold">Details</a>
                        <a asp-action="Delete" asp-controller="Movies" asp-route-id="@movie.Id" asp-route-local="true" class="btn btn-sm btn-block btn-danger fw-bold">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        let query = '@_tmdbMovieService.GenerateSearchRequestUri()';
        query = query.replace(/amp;/g, "").replace("%25SEARCH", "%SEARCH");
    </script>

    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
@*    <script src="~/js/custom.js"></script>*@

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}