@using MoviePro.Models.Database
@using MoviePro.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject IRemoteMovieService _tmdbMovieService;

@model IPagedList<Movie>

@{
    ViewData["Title"] = "Library";
}

<div class="row px-4 justify-content-center">
    <div class="col-12">
        <h2 class="library-titles text-center">JK's Library</h2>
    </div>
    <div class="col-12">
        <hr class="hr-blue" />
        <p class="text-center mt-3">Found <span class="p library-titles">@Model.TotalItemCount movie(s)</span> in total</p>
        <hr class="hr-blue" />
    </div>
    <div class="row justify-content-center">
        @foreach (var movie in Model)
        {
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card bg-transparent" style="max-width: 15.5rem;">
                    <div class="poster-link">
                        <img src="@_imageService.DecodeImage(movie.Poster, movie.PosterType)" class="card-img-top" alt="Movie Poster">
                        <div class="poster-link-container align-items-center">
                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.MovieId" asp-route-local="true" class="link-info"><i class="fas fa-info-circle fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title clampTitle text-light">@movie.Title</h5>
                    <p class="card-text clampOverview">@movie.Overview</p>
                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.MovieId" asp-route-local="true" class="btn btn-sm btn-block btn-primary fw-bold">Details</a>
                            @if (User.IsInRole("Administrator")||User.IsInRole("DemoAdmin"))
                            {
                                <a asp-action="Delete" asp-controller="Movies" asp-route-id="@movie.Id" asp-route-local="true" class="btn btn-sm btn-block btn-danger fw-bold">Delete</a>
                            }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Add paging controls here-->
<div class="row px-4 justify-content-start">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Library", new { page = page}),
            new PagedListRenderOptionsBase
            {
                LiElementClasses = new string[] { "page-item"},
                PageClasses = new string[] { "page-link"}
            })
    </div>
</div>
