@using MoviePro.Models.ViewModels
@using MoviePro.Services.Interfaces

@inject IImageService _imageService
@model LandingPageVM

@{
    ViewData["Title"] = "MoviePro";
}

<div>
	<div class="commonTab">
        <div class="sticky-top">
		    <ul class="nav nav-tabs justify-content-center" id="moviesTab" role="tablist">
			    <li class="nav-item">
				    <a class="nav-link active" id="imported-tab" data-toggle="tab" href="#imported" role="tab" aria-controls="imported movies"
					    aria-selected="true">JK's Movies</a>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link" id="tmdb-tab" data-toggle="tab" href="#tmdb" role="tab" aria-controls="cast"
					    aria-selected="false">TMDB Movies</a>
			    </li>
		    </ul>
            <div class="row px-4">
                <div class="col-12 hr-div">
                    <hr class="hr-blue"/>
                </div>
            </div>
        </div>
		<div class="tab-content" id="moviesTabContent">
			<div class="tab-pane fade show active" id="imported" role="tabpanel" aria-labelledby="imported-tab">
                <!-- LOCAL MOVIES-->
                <!-- Random top 20 -->
                @{
                    var classText = "active";
                    var sizeClass = "";
                    var allCollection = @Model.CustomCollections.First();
                    var random = new Random();
                    <section class="px-4">
                        <div class="row">
                            <div class="d-grid gap-2">
                                <h2 class="library-titles">RANDOM PICKS</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div id="carouselRand" class="carousel slide carousel-multi-item" data-ride="carousel">
                                <!--Indicators-->
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselRand" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselRand" data-slide-to="1"></li>
                                  <li data-target="#carouselRand" data-slide-to="2"></li>
                                  <li data-target="#carouselRand" data-slide-to="4"></li>
                                  <li data-target="#carouselRand" data-slide-to="5"></li>
                                </ol>
                                <!--/.Indicators-->
                                <div class="carousel-inner">      
                                    @for (var slide = 0; slide <= 5; slide++)
                                    {
                                        <div class="carousel-item @classText">
                                            <div class="row justify-content-center">
                                                @foreach (var movie in allCollection.MovieCollections.OrderBy(m => random.Next()).Skip(slide * 4).Take(4))
                                                {
                                                    <div class="col mb-2 @sizeClass">
                                                        <div class="card" style="max-width: 15.5rem;">
                                                        <div class="poster-link">
                                                            <img src="@_imageService.DecodeImage(@movie.Movie.Poster, @movie.Movie.PosterType)" class="card-img-top" alt="Movie Poster">
                                                            <div class="poster-link-container align-items-center">
                                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Movie.MovieId" class="btn btn-lg btn-block btn-secondary fw-bold"><i class="fa-solid fa-square-info"></i></a>
                                                            </div>
                                                        </div>

                                                                
                                                            <div class="card-body">
                                                                <h5 class="card-title clampTitle text-light">@movie.Movie.Title</h5>
                                                                <p class="card-text clampOverview">@movie.Movie.Overview</p>
                                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Movie.MovieId" class="btn btn-lg btn-block btn-primary fw-bold">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    sizeClass = "d-none d-md-block";
                                                }
                                            </div>
                                        </div>
                                        classText = "";
                                        sizeClass = "";
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 mb-4">
                            <div class="col-12 hr-div">
                                <hr class="hr-blue"/>
                            </div>
                        </div>
                    </section>
                }

                <!-- Custom collections-->
                @{
                    var carouselCust = "";
                    foreach (var collection in Model.CustomCollections.Skip(1))
                    {
                        classText = "active";
                        sizeClass = "";
                        carouselCust = "carousel" + collection.Id;
                        <!-- Custom collection -->
                        <section class="px-4">
                            <div class="row">
                                <div class="d-grid gap-2">
                                    <h2 class="library-titles">@collection.Name.ToUpper()</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div id="@carouselCust" class="carousel slide" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                      <li data-target="#@carouselCust" data-slide-to="0" class="active"></li>
                                      @for (var slide = 1; slide < ((collection.MovieCollections.Count + 3) / 4); slide++)
                                        {
                                           <li data-target="#@carouselCust" data-slide-to="@slide"></li> 
                                        }
                                    </ol>
                                    <!--/.Indicators-->
                                    <div class="carousel-inner">
                                        @for (var slide = 0; slide < ((collection.MovieCollections.Count + 3) / 4); slide++)
                                        {
                                            <div class="carousel-item @classText">
                                                <div class="row justify-content-center">
                                                    @foreach (var movie in collection.MovieCollections.OrderBy(m => m.Order).Skip(slide * 4).Take(4))
                                                    {
                                                        <div class="col mb-2 @sizeClass">
                                                            <div class="card" style="max-width: 15.5rem;">
                                                            <div class="poster-link">
                                                                <img src="@_imageService.DecodeImage(@movie.Movie.Poster, @movie.Movie.PosterType)" class="card-img-top" alt="Movie Poster">
                                                                <div class="poster-link-container align-items-center">
                                                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Movie.MovieId" class="btn btn-lg btn-block btn-secondary fw-bold">More Info</a>
                                                                </div>
                                                            </div>

                                                                
                                                                <div class="card-body">
                                                                    <h5 class="card-title clampTitle text-light">@movie.Movie.Title</h5>
                                                                    <p class="card-text clampOverview">@movie.Movie.Overview</p>
                                                                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Movie.MovieId" class="btn btn-lg btn-block btn-primary fw-bold">Details</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        sizeClass = "d-none d-md-block";
                                                    }
                                                </div>
                                            </div>
                                            classText = "";
                                            sizeClass = "";
                                        }

                                    </div>
                                </div>
                                </div>
                            <div class="row mt-4 mb-4">
                                <div class="col-12 hr-div">
                                    <hr class="hr-blue"/>
                                </div>
                            </div>
                        </section>
                    }
                }

			</div>
			<div class="tab-pane fade" id="tmdb" role="tabpanel" aria-labelledby="tmdb-tab">
                <!-- TMDB MOVIES-->
                <!-- Upcoming -->
                <section class="px-4">
                    <div class="row">
                        <div class="d-grid gap-2">
                            <h2 class="library-titles">UPCOMING</h2>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div id="carouselUp" class="carousel slide" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carouselUp" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselUp" data-slide-to="1"></li>
                                <li data-target="#carouselUp" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                          <div class="carousel-inner">
                                @{
                                    classText = "active";
                                    sizeClass = "";
                                    for (var slide = 0; slide <= 3; slide++)
                                    {
                                        <div class="carousel-item @classText">
                                            <div class="row justify-content-center">
                                                @foreach (var movie in Model.Upcoming.results.Skip(slide*4).Take(4))
                                                {
                                                    <div class="col mb-2 @sizeClass">
                                                        <div class="card" style="max-width: 15.5rem;">
                                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                                            <div class="card-body">
                                                            <h5 class="card-title clampTitle text-light">@movie.title</h5>
                                                            <p class="card-text clampOverview">@movie.overview</p>
                                                            <div class="d-grid gap-2">
                                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-primary fw-bold">Details</a>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    sizeClass = "d-none d-md-block";
                                                }
                                            </div>
                                        </div>
                                        classText = "";
                                        sizeClass = "";
                                    }
                                }
                        </div>
                    </div>
                </section>

                <!-- Now Playing-->
                <section class="px-4">
                    <div class="row mt-4 mb-4">
                        <div class="col-12 hr-div">
                            <hr class="hr-blue"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid gap-2">
                            <h2 class="library-titles">NOW PLAYING</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div id="carouselNowPlaying" class="carousel slide" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carouselNowPlaying" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselNowPlaying" data-slide-to="1"></li>
                                <li data-target="#carouselNowPlaying" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                          <div class="carousel-inner">
                                @{
                                    classText = "active";
                                    sizeClass = "";
                                    for (var slide = 0; slide <= 3; slide++)
                                    {
                                        <div class="carousel-item @classText">
                                            <div class="row justify-content-center">
                                                @foreach (var movie in Model.NowPlaying.results.Skip(slide*4).Take(4))
                                                {
                                                    <div class="col mb-2 @sizeClass">
                                                        <div class="card" style="max-width: 15.5rem;">
                                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                                            <div class="card-body">
                                                            <h5 class="card-title clampTitle text-light">@movie.title</h5>
                                                            <p class="card-text clampOverview">@movie.overview</p>
                                                            <div class="d-grid gap-2">
                                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-primary fw-bold">Details</a>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    sizeClass = "d-none d-md-block";
                                                }
                                            </div>
                                        </div>
                                        classText = "";
                                        sizeClass = "";
                                    }
                                }
                        </div>
                    </div>
                </section>

                <!-- Popular-->
                <section class="px-4">
                    <div class="row mt-4 mb-4">
                        <div class="col-12 hr-div">
                            <hr class="hr-blue"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid gap-2">
                            <h2 class="library-titles">POPULAR</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div id="carouselPopular" class="carousel slide" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carouselPopular" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselPopular" data-slide-to="1"></li>
                                <li data-target="#carouselPopular" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                          <div class="carousel-inner">
                                @{
                                    classText = "active";
                                    sizeClass = "";
                                    for (var slide = 0; slide <= 3; slide++)
                                    {
                                        <div class="carousel-item @classText">
                                            <div class="row justify-content-center">
                                                @foreach (var movie in Model.Popular.results.Skip(slide*4).Take(4))
                                                {
                                                    <div class="col mb-2 @sizeClass">
                                                        <div class="card" style="max-width: 15.5rem;">
                                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                                            <div class="card-body">
                                                            <h5 class="card-title clampTitle text-light">@movie.title</h5>
                                                            <p class="card-text clampOverview">@movie.overview</p>
                                                            <div class="d-grid gap-2">
                                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-primary fw-bold">Details</a>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    sizeClass = "d-none d-md-block";
                                                }
                                            </div>
                                        </div>
                                        classText = "";
                                        sizeClass = "";
                                    }
                            }
                        </div>
                    </div>
                </section>

                <!-- Top Rated-->
                <section class="px-4">
                    <div class="row mt-4 mb-4">
                        <div class="col-12 hr-div">
                            <hr class="hr-blue"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid gap-2">
                            <h2 class="library-titles">TOP RATED</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div id="carouselTopRated" class="carousel slide" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carouselTopRated" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselTopRated" data-slide-to="1"></li>
                                <li data-target="#carouselTopRated" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                          <div class="carousel-inner">
                                @{
                                    classText = "active";
                                    sizeClass = "";
                                    for (var slide = 0; slide <= 3; slide++)
                                    {
                                        <div class="carousel-item @classText">
                                            <div class="row justify-content-center">
                                                @foreach (var movie in Model.TopRated.results.Skip(slide*4).Take(4))
                                                {
                                                    <div class="col mb-2 @sizeClass">
                                                        <div class="card" style="max-width: 15.5rem;">
                                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                                            <div class="card-body">
                                                            <h5 class="card-title clampTitle text-light">@movie.title</h5>
                                                            <p class="card-text clampOverview">@movie.overview</p>
                                                            <div class="d-grid gap-2">
                                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-block btn-primary fw-bold">Details</a>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    sizeClass = "d-none d-md-block";
                                                }
                                            </div>
                                        </div>
                                        classText = "";
                                        sizeClass = "";
                                    }
                            }
                        </div>
                    </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-12 hr-div">
                            <hr class="hr-blue"/>
                        </div>
                    </div>
                </section>
			</div>
		</div>
	</div>
</div>






