@using MoviePro.Models.Database
@model Collection

@{
    ViewData["Title"] = "Index";
}

<!-- Manage Collections -->
<div class="container" style="width: 100%;">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2 class="library-titles">Manage Collections</h2>
            <hr class="hr-blue"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-bg pt-3">
            <form asp-action="Index" id="CollectionsForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <select id="CollectionId" class="form-control" asp-items="ViewBag.CollectionId"></select>
                        </div>
                        <div class="col-4">
                            <button name="Add" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#collection">ADD</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <h5 class="text-light">IN COLLECTION</h5>
                            @Html.ListBox("idsInCollection", @ViewBag.IdsInCollection, new { @class="btn-block", @id="idsInCollection"});
                            <button type="button" onclick="MovieUp()" name="Up" class="btn btn-sm btn-secondary mt-3" style="width: 40%"><i class="fas fa-angle-up"></i></button>
                            <button type="button" onclick="MovieDown()" name="Down" class="btn btn-sm btn-secondary mt-3" style="width: 40%"><i class="fas fa-angle-down"></i></button>
                        </div>
                        <div class="col-2 align-self-center">
                            <button type="button" onclick="RemoveMovie()" class="btn btn-sm btn-block btn-secondary"><i class="fas fa-angle-right"></i></button>
                            <button type="button" onclick="AddMovie()" class="btn btn-sm btn-block btn-secondary"><i class="fas fa-angle-left"></i></button>
                        </div>
                        <div class="col-5">
                            <h5 class="text-light">NOT IN COLLECTION</h5>
                            @Html.ListBox("idsNotInCollection", @ViewBag.IdsNotInCollection, new { @class="btn-block", @id="idsNotInCollection"});
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary mt-2">SUBMIT</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Modals-->
<div class="modal fade" id="collection" tabindex="-1" role="dialog" aria-labelledby="collectionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bg">
      <div class="modal-header">
        <h5 class="modal-title library-titles">Add Movie Collection</h5>
      </div>
      <div class="modal-body" id="collectionForm">
        <form asp-action="Create" asp-controller="Collections">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label text-light"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-light"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" onclick="SelectAllMovies()" class="btn btn-sm btn-block btn-primary mt-2">ADD</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    <script src="~/js/custom.js"></script>

    @*The select list on change listener must be below in this file, it does not work in custom.js*@
    <script>
        $('#CollectionId').on('change', function () {
            let selectedId = $(this).val()
            var url = '@Url.Action("Index", "MovieCollections", new { id = "1" })'.split("/");
            url[3] = selectedId;
            url = url.join("/");
            window.location.href = url;
        });
    </script>
}